.main-container {
  height: 98vh;
  width: 99vw;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: end;
  overflow: hidden;
}

.item-list-container {
  height: 85vh;
  width: 98vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow-y: scroll;
  box-sizing: border-box;
  column-gap: 100px;
}

@media only screen and (min-width: 360px) and (max-width: 768px) {
  .item-list-container {
    justify-content: center;
    column-gap: 1px;
    row-gap: 1px;
  }
}
