.navbar-main-container {
  height: 52px;
  top: 68px;
  position: sticky;
  background-color: transparent;
  border-top: 1px solid #8d9e9e;
  border-bottom: 1px solid #8d9e9e;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

span {
  display: flex;
  align-items: center;
}

.navbar-item {
  height: 100%;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

.navbar-item:hover {
  border-bottom: 3px solid #ff3f6c;
  color: #ff3f6c;
}

.on-hover-navbar-div {
  width: 98vw;
  margin-left: 12px;
  position: absolute;
  border: 1px solid lightgray;
  background-color: #fff;
}

.category-main-card {
  border: 1px solid red;
  display: flex;
}

.specific-category-card {
  display: flex;
  flex-flow: column;
  align-items: start;
}

.specific-category-card-heading {
  margin: 20px 20px 10px 20px;
  font-size: 15px;
  font-weight: 500;
  color: #ff6c3e;
}

.specific-category-card-text {
  margin: 8px 10px 5px 20px;
  cursor: pointer;
}
