.remove-item-buttons-div {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.remove-yes-btn {
  border: none;
  color: gray;
  font-size: 15px;
  font-weight: 600;
  background-color: transparent;
}

.remove-no-btn {
  border: none;
  color: #ff3f6c;
  font-size: 15px;
  font-weight: 600;
  background-color: transparent;
}

.vertial-line-bw-btn {
  color: lightgrey;
}

.go-to-shop-btn {
  margin-top: 13px;
  height: 38px;
  width: 250px;
  border: none;
  background-color: #ff3f6c;
  border-radius: 4px;
  color: white;
  font-size: medium;
  font-weight: 700;
  cursor: pointer;
}
