.header {
  height: 68px;
  display: flex;
  align-items: center;
  background-color: #f8fcff;
  top: 0;
  z-index: 1;
  position: sticky;
  justify-content: space-between;
}

.header-logo {
  height: 60px;
  width: 136px;
  margin-top: 10px;
}
