.category-main-card {
  border: 1px solid red;
  display: flex;
}

.specific-category-card {
  border: 2px solid greenyellow;
  display: flex;
  flex-flow: column;
  align-items: start;
}

.specific-category-card-heading {
  margin: 20px 20px 10px 20px;
  font-size: 15px;
  font-weight: 500;
  color: #ff6c3e;
}

.specific-category-card-text {
  margin: 8px 10px 5px 20px;
  cursor: pointer;
}
