.register-page-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-card {
  height: 400px;
  width: 300px;
  border: 1px none grey;
  background-color: #f6f6f6;
  border-radius: 8px;
  display: flex;
  align-items: center;
  flex-flow: column;
}

h3 {
  font-family: cursive;
  margin-top: 30px;
}

.register-email-address,
.register-phone-number,
.register-password,
.register-confirm-password {
  height: 30px;
  border: none;
  margin-top: 20px;
  width: 210px;
  font-weight: bold;
  text-indent: 6px;
  border-radius: 3px;
}

.register-email-address {
    margin-top: 12px;
}

.register-button {
  width: 210px;
  height: 30px;
  margin-top: 30px;
  border: none;
  background: #5f9ea0;
  font-weight: bold;
  color: white;
  border-radius: 3px;
}

.register-button:hover {
  cursor: pointer;
  background-color: #296a6d;
}

p {
  margin-top: 30px;
  font-size: 12px;
  text-align: center;
}